<header>
  <div>
    <div class="home-logo">
      @link({ route: 'home' })
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert-icon lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>

        <h1>
          Road<span class="logo">Alert
          </span>
        </h1>
      @end
    </div>
    <div>
      <nav class="main-nav">
        <div class="link">
          <a href="#accueil" class="current">Accueil</a>
          <a href="#a-propos">À propos</a>
          <a href="#features">Fonctionnalités</a>
          <a href="#contact">Contact</a>
        </div>
        
        <div class="btns">
          @if(auth.user)
            @!avatar({ initials: auth.user.initials })
            @if(auth.user.role === 'agent' || auth.user.role === 'admin')
              <a href="/dashboard" class="btn btn-dashboard">Dashboard</a>
            @end
            @form({ route: 'session.destroy', method: 'POST' })
              @!button({ text: 'Logout' })
            @end
          @else
            <a href="{{ route('new_account.create') }}" class="btn btn-signup">S'inscrire</a>
            <a href="{{ route('session.create') }}" class="btn btn-login">Se connecter</a>
          @end
        </div>
      </nav>
    </div>
  </div>
</header>
